.App {
  text-align: center;
}

.App-logo {
  height: 64px;
  width: 313px;
}

.App-header {
  padding: 163px 20px 200px;
}

.App-intro {
  font-size: large;
}

.change-increase {
  color: #469c47;
}

.change-decrease {
  color: #fe4345;
}

.change-plain {
  color: #6a8098;
}

.table-title {
  color: #2d2f32;
  font-size: 18px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.currency-value {
  color: #2d2f32;
}

.font-light-weight {
  font-weight: 500;
}

.currency-icon {
  max-width: 20px;
  max-height: 20px;
  vertical-align: middle;
}


table {
  margin: 0 auto 100px;
  border-collapse: collapse;
  width: 360px;
}

td {
  padding: 12px 10px 12px;
  color: #6a8098;
  font-size: 16px;
}

th {
  color: #6a8098;
}

tr th {
  padding-bottom: 40px;
  font-size: 16px;
}

tbody tr:hover {
  background-color: rgba(35,103,200,.05);
  cursor: pointer;
}

tbody td:first-child {
  padding-left: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tbody td:last-child {
  padding-right: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
